<h1>Support Details</h1>
<p>Supporter: <%= @support.user.name %></p>
<p>Service: <%= @support.service.title %></p>
<p>Amount: $<%= @support.amount %></p>
<p>Status: <%= @support.status %></p>
<p>Payment Reference: <%= @support.payment_reference %></p>
